body{
    margin: 0 auto;
    width: 800px;
}
.form {
display: flex;
}
.input-i1,
.input-i2,
.input-i3,
.input-i4,
.btn {
display: block;
margin-bottom: 15px;
width: 200px;
border-radius: 5px;
}

.one {
    background: bisque;
}
.three {
    border: 1px solid red;
}